<!DOCTYPE html>
<html>
<head>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
<h1>Dobro jutro</h1>
<div class="container">
  <a class="waves-effect waves-light btn" href="/motor/0"><i class="material-icons left">local_cafe</i>Granola</a>
  <a class="waves-effect waves-light btn" href="/motor/1"><i class="material-icons left">local_drink</i>Cokolesnik</a>
  <a class="waves-effect waves-light btn" href="/motor/2"><i class="material-icons left">local_drink</i>Ovseni kosmici</a>
      </div>
  
</body>
</html>