<!DOCTYPE html>
<html>
<head>
  <script type="module">
  import noUiSlider from '/static/nouislider/nouislider.mjs';
</script>
  <style>
    .text {
      text-align: center;
    }
  </style>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<h1 class = "text">Dobro jutro</h1>

  <p class="pageNumber">Korak <span id="currentPage"></span> od <span id="lastPage"></span> </p>
<!-- step 2 -->  
    <div class = "row step1 container text">  
    <div class = "card step col s4 step step1" id = "S">
      <div class="card-image waves-effect waves-block waves-light">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Mala porcija</span>
        <p><p>Izberi</p></p>
      </div>
    </div>
  
    
    <div class = "card step col s4 step step1" id = "M">
      <div class="card-image waves-effect waves-block waves-light">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Srednja porcija</span>
        <p><p>Izberi</p></p>
      </div>
    </div>

    <div class = "card step col s4 step step1" id = "L">
      <div class="card-image waves-effect waves-block waves-light">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Velika porcija</span>
        <p><p>Izberi</p></p>
      </div>
      </div>
      <div class = "row container">
        <a class="waves-effect step1 btn-small container col s2" id = "potrdi">Potrdi</a>
  </div>
    </div>



  
  
  <div class = "row container step step2">
    
    <div id="slider-handles4"></div>
    
    <script>
    

    </script>

    

        
    
  </div>

  
  <!--
    <a class="waves-effect waves-light btn" href="/motor/0"><i class="material-icons left">local_cafe</i>Granola</a>
    <a class="waves-effect waves-light btn" href="/motor/1"><i class="material-icons left">local_cafe</i>Cokolesnik</a>
    <a class="waves-effect waves-light btn" href="/motor/2"><i class="material-icons left">local_cafe</i>Ovseni kosmici</a>
  -->
  <style>
    .step {
      display: none;
    }

    .step1 {
      display: block;
    }
  </style>
  
  <script>
    

    let currentStep = 1
    let lastStep = 4
    // # za id, . za class
    $(document).ready(function(){
      $("#currentPage").text(currentStep)
      console.log("1")
      $("#lastPage").text(lastStep)
    })
    $(".step").click(function(){
      let gumb = (this.id)
      const gumbi = document.getElementsByClassName("card step col s4 step step1"); 
      for (let i = 0; i < gumbi.length; i++) {
        gumbi[i].style.border = "none";
      }  
      document.getElementById(gumb).style.border = "3px solid #26a69a";
      console.log(gumb)
      // kater gumb je bil kliknen?
      //data["velikost"] = "s"

    })
    
    $("#potrdi").click(function(){
      $(".step1").hide();
      $(".step2").show(); 

      //$.get("/jedilnik")

      //$(".step3 div p").text("jedilnik["naslov"])
      
    })
    
    
  </script>
</body>
</html>